@import url(material.css);
/*keyframes mixin*/
/*

 ______     ______     ______     __     _____     ______     __   __     ______     ______    
/\  == \   /\  ___\   /\  ___\   /\ \   /\  __-.  /\  ___\   /\ "-.\ \   /\  ___\   /\  ___\   
\ \  __<   \ \  __\   \ \___  \  \ \ \  \ \ \/\ \ \ \  __\   \ \ \-.  \  \ \ \____  \ \  __\   
 \ \_\ \_\  \ \_____\  \/\_____\  \ \_\  \ \____-  \ \_____\  \ \_\\"\_\  \ \_____\  \ \_____\ 
  \/_/ /_/   \/_____/   \/_____/   \/_/   \/____/   \/_____/   \/_/ \/_/   \/_____/   \/_____/ 
                                                                                                

  Residence
  //\\//\\// 
  SHOT.COM.MX
                     
*/
/* fonts */
/* font colors */
/* colors */
/* media-queries */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

p {
  line-height: 150%; }

.clear {
  clear: both; }

.layout-transparent {
  background-color: #1a0600; }

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
  color: white; }

.mdl-navigation a {
  color: #fff; }
  .mdl-navigation a i {
    top: 5px;
    position: relative;
    margin-right: 5px; }

.residence-thumbs .mdl-grid {
  max-width: 1140px;
  padding-bottom: 100px; }

.banner-top {
  width: 100%;
  height: 60vh;
  background: url("../images/banner.jpg") center/cover;
  position: fixed;
  top: 0;
  left: 0; }

.titulo {
  text-align: center;
  padding: 100px 0;
  position: relative;
  z-index: 10; }

@media screen and (max-width: 767px) {
  .titulo img {
    width: 60%;
    height: auto; } }

.card-image.mdl-card {
  width: 100%;
  height: 320px; }

.card-image.card1 {
  background: url("../images/entrada.jpg") center/cover; }

.card-image.card2 {
  background: url("../images/senorial.jpg") center/cover; }

.card-image.card3 {
  background: url("../images/sotano.jpg") center/cover; }

.card-image.card4 {
  background: url("../images/amaranto.jpg") center/cover; }

.card-image.card5 {
  background: url("../images/aqua.jpg") center/cover; }

.card-image.card6 {
  background: url("../images/villa-jardin.jpg") center/cover; }

.card-image.card7 {
  background: url("../images/espejos.jpg") center/cover; }

.card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
  position: relative; }

.card-image .__filename span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }

.card-image .__filename .mdl-button {
  position: absolute;
  top: -30px;
  right: 30px;
  opacity: .8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .card-image .__filename .mdl-button.mdl-button--colored {
    background: #dba618; }

.card-image:hover .mdl-button {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1; }

@media screen and (max-width: 767px) {
  .card-image.mdl-card {
    width: 100%;
    height: 200px; }
  .card-image .__filename .mdl-button {
    top: -20px;
    right: 20px; } }
